%kanit-900 {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
}

%kanit-700 {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}

%plus-300 {
  font-family: 'PlusJakartaSans', sans-serif;
  font-weight: 300;
}

%plus-400 {
  font-family: 'PlusJakartaSans', sans-serif;
  font-weight: 400;
}

%plus-500 {
  font-family: 'PlusJakartaSans', sans-serif;
  font-weight: 500;
}

$link: #fff;
$text: #fff;
$bg: #090812;
$border-purpur: #7F5CFF;
$border-purpur-light: #BF3AFF;
$border-pink: #F00AFE;
$border-turquoise: #56FFEB;
$border-turquoise-dark: #06D6DF;
$blur: #25044E;

$turquoise: #56FFEB;
$turquoise-opacity: rgba(86, 255, 235, 0.03);
$blue: #2C4DFF;
$blue-opacity: rgba(44, 76, 255, 0.1);
$purple: #BF3AFF;
$pink: #FB41FF;
$grey: rgba(255, 255, 255, 0.50);