@import "reset";
@import "vars";
@import "fonts";
@import "global";
@import "media";

@import "mixin";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 100;
  transform: translate(0);
}

.sticky {
  background-color: #260b2e7a;
  z-index: 100;
  transition: background-color 0.5s;
}

.hero {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    max-width: 378px;
    width: 100%;
    max-height: 378px;
    height: 100%;
    background-color: $blur;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -1;
  } 

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    max-width: 378px;
    width: 100%;
    max-height: 378px;
    height: 100%;
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    border-radius: 50%;
    filter: blur(150px);
    transform: rotate(34.59deg);
    z-index: -1;
  }

  @include mq('phone') {
    &::before {
      right: 0;
      transform: rotate(0);
    }

    &::after {
      right: 0;
    }
  }

  &__bg {
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 101vh;
      background-image: url("../images/hero_bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 125px;
    height: 100vh;
    max-width: 1836px;
    transition: transform 0.4s;

    @include mq('min-tablet') {
      padding: 0 45px;
    }

    &--hidden {
      transform: translateX(-1000px);
    }
  }

  &__content {
    position: relative;
    line-height: 1.4;
    z-index: 1;

    &::after {
      position: absolute;
      content: "";
      top: -5%;
      left: -50px;
      width: 6px;
      height: 110%;
      background-color: $border-purpur;
      box-shadow: 0px 0px 17px rgba(191, 58, 255, 0.4);
    }

    &::before {
      position: absolute;
      content: "";
      top: -5%;
      left: -50px;
      width: 100%;
      height: 110%;
      background-image: url("../images/dec-lines.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    @include mq('min-tablet') {
      &::after {
        left: -30px;
      }
    }
  }

  &__title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;

    @include mq('desktop') {
      font-size: 16px;
    }
  }

  &__text {
    @extend %kanit-700;
    max-width: 753px;
    margin-bottom: 65px;
    font-size: 48px;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @include mq('desktop') {
      font-size: 38px;
      max-width: 660px;
    }

    @include mq('min-tablet') {
      font-size: 24px;
      margin-bottom: 35px;
    }
  }

  &__text-decor {
    display: inline-block;
    width: 46px;
    height: 46px;
    background-image: url("../images/star.png");
    background-size: cover;
    background-repeat: no-repeat;

    @include mq('desktop') {
      width: 36px;
      height: 36px;
    }

    @include mq('min-tablet') {
      width: 25px;
      height: 25px;
    }
  }

  &__link {
    display: inline-block;
    padding: 22px 50px;
    color: inherit;

    @include mq('desktop') {
      font-size: 16px;
      padding: 18px 30px;
    }

    @include mq('min-tablet') {
      font-size: 16px;
      padding: 14px 25px;
    }
  }
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-weight: 500;

  @include mq('desktop') {
    padding: 0 80px;
  }

  @include mq('min-tablet') {
    padding: 0 15px;
  }

  &__list {
    display: flex;
    align-items: center;
    transition: transform 0.4s;


    @include mq('tablet') {
      position: absolute;
      align-items: flex-start;
      flex-direction: column;
      max-width: 400px;
      min-height: calc(100vh - 140px);
      height: 100%;
      visibility: hidden;
      transform: translateX(-1000px);
      left: 70px;
      top: 140px;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      z-index: 1;

      &--hidden {
        visibility: visible;
        transform: translateX(0);
      }

      @include mq('phone') {
        left: 15px;
      }
    }
  }

  &__item {
    font-size: 20px;

    &:not(:last-child) {
      margin-right: 45px;
    }

    @include mq('desktop') {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    @include mq('min-desktop') {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    @include mq('tablet') {
      max-width: 200px;
      width: 120px;
      min-height: 70px;

      &:not(:last-child) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 80px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    font-size: 20px;
    transition: background-color 0.2s, transform 0.2s, opacity 0.2s, width 0.2s;

    &::after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: -5%;
      width: 0;
      height: 2px;
      background-color: $turquoise;
      transition: opacity 0.2s, width 0.2s;
      opacity: 0;
    }

    @include mq('tablet') {
      &::after {
        bottom: 10px;
      }
    }

    @include mq('min-desktop') {
      font-size: 18px;
    }

    &:hover {
      opacity: 1;

      &::after {
        opacity: 1;
        width: 110%;
      }
    }

    &:focus {
      &:focus {
        opacity: 1;

        &::after {
          opacity: 1;
          width: 110%;
        }
      }
    }

    &:active {
      opacity: 1;
      transform: scale(0.9);

      &::after {
        opacity: 1;
      }
    }
  }
}

.burger {
  position: relative;
  display: none;
  align-items: center;
  justify-content: flex-end;
  width: 32px;
  height: 32px;

  @include mq('tablet') {
    display: flex;
  }

  &__lines {
    width: 40%;
    height: 2px;
    background: #fff;

    &::before,
    &::after {
      position: absolute;
      content: "";
      right: 0;
      height: 2px;
      background-color: #fff;
      transition: transform 0.2s, top 0.2s, bottom 0.2s, width 0.2s;
    }

    &::before {
      top: 6px;
      width: 90%;
    }

    &::after {
      bottom: 6px;
      width: 70%;
    }

    &--active {
      visibility: hidden;

      &::before {
        top: 48%;
        width: 120%;
        visibility: visible;
        transform: rotateZ(-45deg);
      }

      &::after {
        bottom: 48%;
        width: 120%;
        visibility: visible;
        transform: rotateZ(45deg);
      }
    }
  }
}

.about {
  position: relative;
  padding: 40px 0;
  background-color: $bg;
  background-image: url("../images/hologram.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mq('tablet') {
    background-image: none;
    padding: 0;
  }

  &__bg {
    @media (max-width:992px) {
      max-width: 1600px;
      width: 100%;
      min-height: 600px;
      height: 100%;
      background-image: url("../images/hologram.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top right;
    }

    @include mq('min-tablet') {
      background-position: center right;
      min-height: 380px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 50px 0 30px 0;

    &::after {
      position: absolute;
      content: "";
      top: 100px;
      left: -220px;
      max-width: 790px;
      max-height: 560px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(0deg, #7476ed, #7476ed);
      filter: blur(218px);
      transform: matrix(0.87, 0.5, 0.5, -0.87, 0, 0);
      opacity: 0.4;
      z-index: 0;
    }
  }

  &__content {
    position: relative;
    max-width: 1040px;
    padding: 50px 0 30px 50px;
    z-index: 1;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
      background-color: $border-turquoise;
      border-radius: 5px;
      box-shadow: 0px 4px 13px rgba(191, 58, 255, 0.44);
    }

    &::before {
      position: absolute;
      content: "";
      top: 5px;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/dec-lines2.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    max-width: 600px;
    margin-bottom: 30px;
    height: 425px;
    line-height: 1.6;
    opacity: 0.8;
    overflow: hidden;
    transition: position 0.2 transform 0.2s;

    p {
      @include line-clamp(13);
    }

    p:nth-child(2) {
      display: none;
      transform: translateX(-1000px);
    }

    &--active {
      p:nth-child(1) {
        display: none;
        transform: translateX(-1000px);
      }

      p:nth-child(2) {
        display: block;
        transform: translateX(0);
      }
    }

    @include mq('tablet') {
      font-size: 16px;
    }
  }

  &__chapter {
    max-width: 450px;
    padding-right: 40px;
  }

  &__line-wrapper {
    position: relative;
    height: 30px;
    margin-bottom: 30px;
    padding-right: 25px;
    overflow: hidden;
  }

  &__line {
    position: absolute;
    content: "";
    top: 50%;
    left: 25px;
    width: calc(100% - 60px);
    height: 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__circle,
  &__circle2 {
    position: absolute;
    content: "";
    top: 0;
    left: -25px;
    width: 30px;
    height: 30px;
    border: 2px solid $border-purpur;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
    transition: left 0.5s, right 0.5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 3px;
      width: 20px;
      height: 20px;
      border: 4px solid $border-purpur;
      transform: translateY(-50%);
      border-radius: 50%;
    }

    &--active {
      left: 530px;
    }
  }

  &__circle2 {
    left: calc(100% - 530px);

    &--active {
      left: calc(100%);
    }
  }

  &__up-line {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 35%;
    height: 4px;
    background-color: $border-purpur;
    transform: translateY(-50%);
    border-radius: 0 5px 5px 0;
    transition: width 0.6s;

    &--active {
      width: 0;
    }
  }

  &__up-line2 {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 4px;
    background-color: $border-purpur;
    transform: translateY(-50%);
    border-radius: 0 5px 5px 0;
    transition: width 0.6s;

    &--active {
      width: 35%;
    }
  }

  &__number {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__chapter-first,
  &__chapter-next,
  &__chapter-second {
    padding-left: 5px;
    @extend %kanit-700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.45;
  }

  &__chapter-second {
    position: absolute;
    padding: 0;
    top: 0;
    left: 20px;
    height: 100%;
    transition: left 0.5s;

    &--active {
      left: calc(100% - 100px);
    }
  }
}

.ressources {
  position: relative;
  padding: 140px 0 0;
  background-color: #090812;
  overflow-x: hidden;

  &__subtitle {
    margin-bottom: 15px;
    text-align: center;
  }

  &__title {
    margin-bottom: 90px;
    text-align: center;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 0 140px;

    @include mq('min-desktop') {
      flex-direction: column-reverse;
      align-items: center;
    }

    &::before {
      position: absolute;
      content: "";
      width: 1300px;
      height: 600px;
      top: 0;
      left: -70px;
      background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
      opacity: 0.34;
      filter: blur(260px);
      transform: matrix(1, 0.03, 0.03, -1, 0, 0);
      z-index: 0;
    }
  }

  &__left {
    position: relative;
    padding: 70px 0 20px;
    width: 100%;
    max-width: 810px;
    text-align: center;
    background: linear-gradient(268.83deg,
        rgba(58, 78, 255, 0) -0.39%,
        rgba(216, 58, 255, 0.1) 102.63%);
    backdrop-filter: blur(15px);
    z-index: 1;

    @include mq('desktop') {
      max-width: 600px;
    }

    @include mq('min-desktop') {
      max-width: 1200px;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
      background-color: $border-purpur-light;
      border-radius: 5px;
      box-shadow: 0px 0px 17px rgba(191, 58, 255, 0.4);
      z-index: -1;
    }

    &::before {
      position: absolute;
      content: "";
      top: -1px;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/dec-lines3.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  &__img-logo {
    width: 60px;
    height: 60px;
    margin: 0 auto 50px;
  }

  &__paragraph {
    margin-bottom: 40px;
    @extend %kanit-700;
    font-size: 35px;
    line-height: 1.09;
    text-transform: uppercase;
    @include line-clamp(2);
  }

  &__text {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 40px;
    padding: 0 40px;
    @extend %plus-400;
    font-size: 20px;
    line-height: 1.6;
    @include line-clamp(7);

    @include mq('phone') {
      padding: 0 12px;
    }
  }

  &__link {
    display: inline-block;
    padding: 17px 30px;
    background: linear-gradient(98.73deg, #7a42f4 0%, #4642f4 100%), #ffffff;
    border-radius: 6px;
    @extend %kanit-900;
    font-size: 18px;
    line-height: 1.45;
  }

  &__right {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 600px;
    padding: 0 10px;

    @include mq('min-desktop') {
      margin-bottom: 110px;
      width: 600px;
    }

    @include mq('phone') {
      width: 320px;
      height: 300px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 504px;
      height: 486px;
      top: 50px;
      left: 0;
      background-image: url("../images/decor/vector2.png");
      background-repeat: no-repeat;
      background-size: cover;

      @include mq('phone') {
        width: 320px;
        height: 300px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 504px;
      height: 486px;
      top: 50px;
      left: 0;
      background-image: url("../images/decor/vector2.png");
      background-repeat: no-repeat;
      background-size: cover;
      mix-blend-mode: color-dodge;

      @include mq('phone') {
        width: 320px;
        height: 300px;
      }
    }
  }

  &__box {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      content: "";
      width: 504px;
      height: 486px;
      top: 50px;
      left: 43px;
      background-image: url("../images/decor/vector2.png");
      background-repeat: no-repeat;
      background-size: cover;
      mix-blend-mode: color-dodge;

      @include mq('phone') {
        width: 320px;
        height: 300px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 367px;
      height: 362px;
      top: 160px;
      left: 50px;
      background-color: #b18cff;
      mix-blend-mode: hard-light;
      filter: blur(100px);
      border-radius: 50%;

      @include mq('phone') {
        filter: blur(200px);
      }
    }
  }

  &__point {
    position: absolute;
    display: inline-block;
    padding-left: 60px;
    content: "";
    @extend %plus-400;
    font-size: 20px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.7);

    @include mq('phone') {
      font-size: 16px;
    }

    &--violet {
      top: 100px;
      left: 100px;

      @include mq('phone') {
        top: 70px;
        left: -20px;
      }
    }

    &--green {
      bottom: -50px;
      left: 0;

      @include mq('phone') {
        bottom: -45px;
        left: -40px;
      }
    }

    &--pink {
      top: 200px;
      left: 350px;

      @include mq('phone') {
        top: 130px;
        left: 135px;
      }
    }

    &--red {
      bottom: 50px;
      left: 320px;

      @include mq('phone') {
        bottom: -40px;
        width: 200px;
        left: 125px;
      }
    }
  }

  &__dot {
    position: absolute;
    content: "";
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('phone') {
      width: 40px;
      height: 40px;
    }
  }

  &__dot--violet {
    background-image: url("../images/decor/dot1.png");
    top: 100px;
    left: 100px;

    @include mq('phone') {
      top: 75px;
      left: -20px;
    }
  }

  &__dot--pink {
    background-image: url("../images/decor/dot2.png");
    top: 200px;
    left: 340px;

    @include mq('phone') {
      top: 135px;
      left: 145px;
    }
  }

  &__dot--green {
    background-image: url("../images/decor/dot3.png");
    bottom: 25px;
    left: 48px;

    @include mq('phone') {
      bottom: -40px;
      left: -35px;
    }
  }

  &__dot--red {
    background-image: url("../images/decor/dot4.png");
    bottom: 90px;
    left: 310px;

    @include mq('phone') {
      bottom: -5px;
      left: 135px;
    }
  }

  &__game-decor {
    position: absolute;
    content: "";
    left: -15%;
    bottom: 49%;
    width: 3100px;
    height: 300px;
    @extend %kanit-700;
    text-align: center;
    font-size: 200px;
    letter-spacing: 0.1em;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transform: rotate(-9deg);
    text-transform: uppercase;
    z-index: 1;
    overflow: hidden;

    @include mq('desktop') {
      height: 260px;
      line-height: 1.2;
      bottom: 51%;
    }

    @include mq('min-desktop') {
      bottom: 47%;
      height: 150px;
      font-size: 170px;
      line-height: 0.8;
      left: -45%;
    }

    @include mq('tablet') {
      left: -55%;
    }

    @include mq('min-tablet') {
      left: -65%;
    }

    @include mq('phone') {
      bottom: 49%;
      left: -220%;
      height: 80px;
      font-size: 80px;
      line-height: 0.8;
    }
  }
}

.brands {
  position: relative;
  padding: 110px 0 120px;
  background-image: url("../images/brands-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/decor/dec-lines-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    position: absolute;
    content: "";
    top: 400px;
    left: 120px;
    width: 700px;
    height: 800px;
    background: linear-gradient(114.3deg, #4462ff 23.53%, #56ffeb 64.93%);
    filter: blur(411px);
    transform: matrix(-0.8, -0.61, -0.22, 0.98, 0, 0);

    @include mq('tablet') {
      display: none;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    text-align: center;
  }

  &__title {
    margin-bottom: 90px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include mq('tablet') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 385px;
    width: 100%;
    padding-top: 470px;
    text-align: center;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 300px;
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateX(-50%);
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 300px;
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateX(-50%);
    }

    &--frame1::before {
      height: 402px;
      background-image: url("../images/decor/frame1.png");
    }

    &--frame2::before {
      background-image: url("../images/decor/frame2.png");
    }

    &--frame3::before {
      background-image: url("../images/decor/frame3.png");
      height: 402px;
    }

    &--frame3::after {
      background-image: url("../images/decor/mask-frame3.png");
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    @include mq('tablet') {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 50px;
        max-width: 345px;
      }
    }
  }

  &__decoration {
    display: none;

    @include mq('tablet') {
      display: block;
      position: absolute;
      content: "";
      top: 80px;
      left: 0;
      width: 345px;
      height: 500px;
      border-radius: 859.184px;
      opacity: 0.25;
      background: linear-gradient(20deg, #21FCFF 100%, #FD40FF 100%);
      filter: blur(60px);
      z-index: -1;

      &--purple {
        background: linear-gradient(180deg, #9B0CDF 0%, rgba(156, 12, 223, 1) 100%);

      }

      &--pink {
        background: linear-gradient(20deg, #FD40FF 100%, #21FCFF 10%);
      }
    }
  }

  &__border {
    position: relative;
    display: block;
    margin-bottom: 40px;
    width: 100%;
    height: 6px;
    border-radius: 6px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(359.28deg,
          rgba(56, 219, 255, 0.14) 0.58%,
          rgba(56, 219, 255, 0) 42.57%);
      transform: matrix(1, 0, 0, -1, 0, 0);
    }

    &--green {
      background-color: $border-turquoise-dark;
    }

    &--violet {
      background-color: $border-purpur;
    }

    &--pink {
      background-color: $border-pink;
    }
  }

  &__name {
    max-width: 280px;
    min-height: 60px;
    margin: 0 auto 7px;
    @extend %kanit-700;
    font-size: 22px;
    text-transform: uppercase;
    @include line-clamp(2);
  }

  &__text {
    @extend %plus-300;
    font-size: 18px;
    letter-spacing: 0.01em;
    opacity: 0.6;
    line-height: 1.6;
    @include line-clamp(13);
  }

  @include mq('tablet') {
    font-size: 16px;
  }
}

.game {
  position: relative;
  padding: 140px 0 0;
  background-image: url("../images/game-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  @include mq('desktop') {
    padding-top: 0;
  }

  &__metaverse-wrapper{
    position: absolute;
    content: "";
    width: 120%;
    height: 100px;
    top: 25%;
    left: -50px;
    transform: rotate(-9deg);
    z-index: 5;

    @include mq('desktop') {
      top: -38%;
    }

    @include mq('min-desktop') {
      top: -16%;
    }

    @include mq('phone') {
      top: -15%;
      left: -20px;
    }
  }

  &__metaverse-list {
    @extend %kanit-700;
    font-size: 72px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: #00dbde;
    background-color: #2aa5a0;
    background-image: linear-gradient(90deg, #6eb9ff, #b57dff);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    overflow: hidden;
    text-transform: uppercase;

    @include mq('desktop') {
      height: 100px;
      padding-left: 10px;
    }

    @include mq('phone') {
      height: 70px;
      padding-left: 10px;
      font-size: 54px;
    }
  }

  &__content {
    position: relative;
    margin: 500px auto 0;
    padding-bottom: 300px;
    max-width: 650px;
    text-align: center;
    z-index: 1;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &::before {
      background-image: url("../images/decor/game-rain-line.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      background: linear-gradient(0deg,
          rgba(58, 78, 255, 0) 0%,
          rgba(156, 58, 255, 0.14) 100%);
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(90px);
    }

    @include mq('min-desktop') {
      padding-bottom: 650px;
      margin: 300px auto 0;

      &::before,
      &::after {
        max-height: calc(100% - 30%);
      }
    }

    @include mq('phone') {
      padding-bottom: 550px;
      margin: 200px auto 0;
    }
  }

  &__border {
    display: block;
    width: 100%;
    height: 6px;
    background-color: $border-turquoise;
    border-radius: 3px;

    &::after,
    &::before {
      position: absolute;
      content: "";
      top: 0;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    &::before {
      top: 30px;
      left: -480px;
      width: 380px;
      height: 562px;
      background-image: url("../images/decor/game-girl.png");
    }

    &::after {
      right: -500px;
      width: 500px;
      height: 642px;
      background-image: url("../images/decor/game-man.png");
    }

    @include mq('desktop') {
      &::after {
        right: -370px;
        width: 400px;
        height: 519px;
      }

      &::before {
        width: 300px;
        height: 442px;
        left: -300px;
      }
    }

    @include mq('min-desktop') {
      &::after {
        top: 600px;
        right: 270px;
        width: 400px;
        height: 519px;
      }

      &::before {
        top: 530px;
        width: 300px;
        height: 442px;
        left: 300px;
      }
    }

    @include mq('min-tablet') {
      &::after {
        right: 240px;
      }

      &::before {
        left: 270px;
      }
    }

    @include mq('phone') {
      &::after {
        top: 650px;
        width: 290px;
        height: 370px;
        left: -50px;
      }

      &::before {
        top: 610px;
        width: 210px;
        height: 312px;
        left: auto;
        right: 10px;
      }
    }
  }

  &__title {
    margin: 70px 0 30px;
    line-height: 1.09;
    text-transform: uppercase;

    @include mq('phone') {
      margin: 50px 0 20px;
    }
  }

  &__text {
    margin: 70px 0 45px;
    @extend %plus-400;
    font-size: 20px;
    line-height: 1.6;
    opacity: 0.7;
    @include line-clamp(12);

    @include mq('phone') {
      margin: 50px 0 20px;
    }
  }

  &__button {
    display: inline-block;
    padding: 17px 40px;
    background: linear-gradient(98.73deg, #7a42f4 0%, #4642f4 100%), #ffffff;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.45;
  }
}

.explication {
  padding: 140px 0;
  background-color: $bg;

  @include mq('tablet') {
    padding: 140px 0 40px;
  }

  @include mq('phone') {
    padding: 140px 0 0;
  }

  &__top {
    position: relative;
    display: flex;
    padding: 110px 0;
    margin-bottom: 200px;
    z-index: 1;

    @include mq('min-tablet') {
      padding: 50px 0 0;
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      content: "";
      top: 110px;
      left: 0;
      width: 100%;
      max-width: 1348px;
      height: calc(100% - 220px);
      z-index: -1;
    }
  }

  &__border,
  &__border-bottom {
    display: block;
    width: 6px;
    background-color: $border-purpur;
    border-radius: 3px;
  }

  &__border {
     @include mq('tablet') {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 6px;
    }
  }

  &__line {
    position: absolute;
    content: "";
    top: 110px;
    left: 0;
    width: 100%;
    height: calc(100% - 220px);
    background-image: url("../images/decor/explication-line.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;

    @include mq('min-tablet') {
      top: 0;
      height: 80%;
      background-image: url("../images/decor/vertical-line-explore.png");
    }
  }

  &__decor {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    max-width: 800px;
    height: 500px;
    background: linear-gradient(90deg, #21fcff 0%, #fd40ff 100%);
    filter: blur(218px);
    opacity: 0.25;
    transform: rotate(154deg);
    z-index: -1;

    @include mq('min-desktop') {
      left: -50px;
    }

    @include mq('tablet') {
      max-width: 700px;
    }

    @include mq('min-tablet') {
      left: -100px;
    }

    @include mq('phone') {
      top: 50px;
      max-width: 500px;
      height: 300px;
      left: auto;
      right: 50px;
      filter: blur(118px);
    }
  }

  &__explore {
    padding: 110px 90px;

    @include mq('min-tablet') {
      padding: 10px 20px 520px;
    }
  }

  &__title {
    margin-bottom: 30px;
    min-width: 310px;

    @include mq('phone') {
     min-width: auto;
    }
  }

  &__inner {
    display: flex;

    @include mq('tablet') {
      flex-direction: column;
    }
  }

  &__explore-text,
  &__right-text {
    @extend %plus-400;
    font-size: 19px;
    line-height: 1.6;
    opacity: 0.7;
    max-width: 400px;
    width: 100%;

    @include mq('min-tablet') {
      max-width: 700px;
      font-size: 16px;
    }
  }

  &__explore-text {
    margin-right: 40px;
    margin-bottom: 40px;
    @include line-clamp(3);
  }

  &__right-text {
    margin-top: -80px;
    @include line-clamp(8);

    @include mq('tablet') {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  &__button {
    position: relative;
    display: inline-block;
    padding: 17px 40px;
    max-width: 176px;
    max-height: 60px;
    background: -o-linear-gradient(351.27deg, #7a42f4 0%, #4642f4 100%), #fff;
    background: linear-gradient(98.73deg, #7a42f4 0%, #4642f4 100%), #fff;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.45;
  }

  &__bg {
    position: absolute;
    max-width: 570px;
    max-height: 780px;
    display: block;
    content: "";
    top: 50%;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    z-index: -1;

    @include mq('min-tablet') {
      right: 5%;
      top: 70%;
      max-width: 370px;
      max-height: 500px;
    }

    @include mq('phone') {
      right: -1%;
      top: 70%;
      max-width: 340px;
      max-height: 480px;
    }
  }

  &__bottom {
    position: relative;
    z-index: 1;

    @include mq('tablet') {
      padding-top: 300px;
    }
    @include mq('min-tablet') {
      padding-top: 10px;
    }

    
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 1150px;
    height: 100%;
    background: linear-gradient(180deg,
    rgba(58, 78, 255, 0) 0%,
    rgba(156, 58, 255, 0.14) 100%);
    backdrop-filter: blur(11px);
    z-index: 1;
  }

  &__bg-bottom {
    position: absolute;
    max-width: 1150px;
    max-height: 640px;
    display: block;
    content: "";
    top: 55%;
    left: 0;
    width: 100%;
    height: 640px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    z-index: -1;

    @include mq('tablet') {
      top: 50%;
      left: -200px;
      height: 100%;
    }

    @include mq('min-tablet') {
      top: 10%;
      left: -100px;
    }
  }

  &__studio {
    display: flex;
    padding: 70px 60px 70px 170px;

    @include mq('tablet') {
      flex-direction: column;
      padding: 70px 60px 30px 170px;
    }

    @include mq('min-tablet') {
      flex-direction: column;
      padding: 30px 30px 30px 30px;
    }
  }

  &__title2 {
    max-width: 400px;
    width: 100%;
    margin-right: 45px;
    
    @include mq('tablet') {
      margin-bottom: 12px;
    }
  }

  &__studio-text {
    max-width: 470px;
    transform: translateY(50%);
    @include line-clamp(6);

    @include mq('tablet') {
      transform: translateY(0);
    }
  }

  &__border-bottom {

    @include mq('tablet') {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
    }
      
    &::before {
      position: absolute;
      content: "";
      top: 110px;
      right: 0;
      width: 100%;
      max-width: 1348px;
      height: calc(100% - 220px);
      background-image: url("../images/decor/explication-line-bottom.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.6;
      z-index: -1;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
    margin-left: 170px;
    margin-bottom: 40px;
    max-width: 160px;
    background: -o-linear-gradient(351.27deg, #7a42f4 0%, #4642f4 100%), #fff;
    background: linear-gradient(98.73deg, #7a42f4 0%, #4642f4 100%), #fff;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.45;

    @include mq('tablet') {
      right: -80px;
    }

    @include mq('min-tablet') {
      margin-left: 30px;
      margin-bottom: 30px;
    }
  }

  &__star,
  &__bottom-star {
    display: block;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    opacity: 1;
    background-image: url("../images/decor/star.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
  }

  &__star {
    top: -20px;
    right: -150px;

    @include mq('tablet') {
      right: -80px;
    }
  }

  &__bottom-star {
    top: -20px;
    right: 150px;

    @include mq('tablet') {
      right: 80px;
    }
  }
}

.team {
  position: relative;
  padding: 140px 0;
  background-color: $bg;
  z-index: 1;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 550px;
    height: 550px;
    opacity: 0.5;
    background: linear-gradient(90deg, #7476ed 46.15%);
    filter: blur(218px);
    z-index: -1;
    transform: translateY(-50%);
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 700px;
    height: 850px;
    opacity: 0.3;
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    filter: blur(218px);
    z-index: -1;
  }

  &__subtitle,
  &__title {
    text-align: center;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__decor-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/decor/team-grid.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: transform 0.2s;

    @include mq('desktop') {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    max-width: 325px;
    min-height: 570px;
    transition: transform 0.2s;
    z-index: 2;
    transform: translateY(-1000px);

    @include mq('desktop') {
      max-width: 295px;
    }

    @include mq('min-desktop') {
      max-width: 395px;
      width: 100%;
      flex-wrap: wrap;

      &:nth-child(odd) {
        margin-right: 50px;
      }
    }

    @include mq('tablet') {
      max-width: 325px;

      &:nth-child(odd) {
        margin-right: 0;
      }
    }

    @include mq('min-tablet') {
      max-width: 325px;
    }

    &--active {
      background: linear-gradient($turquoise-opacity 0);
      border-radius: 10px;

      .team__img-box {
        transform: scale(1);
      }

      .team__social {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &:hover {
      .team__img-box {
        transform: scale(1);
      }

      .team__social {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__info {
    padding: 20px 0;
  }

  &__position,
  &__name {
    display: block;
    max-width: 200px;
    text-align: center;
    line-height: 1.4;
    @include line-clamp(1);
  }

  &__position {
    @extend %plus-500;
    font-size: 16px;
  }

  &__name {
    @extend %kanit-700;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1;

    &--turquoise {
      color: $turquoise;
    }

    &--blue {
      color: $blue;
    }

    &--purple {
      color: $purple;
    }

    &--ping {
      color: $pink;
    }
  }

  &__social {
    position: relative;
    display: flex;
    transition: transform 0.4s, opacity 0.4s;
    opacity: 0;
    transform: translateY(2000%);

    &--revers {
      transform: translateY(-2000%);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__link {
    display: inline-block;
    width: 49px;
    height: 49px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 18px;

    &--facebook {
      background-image: url("../images/icons/facebook.svg");
    }

    &--twitter {
      background-image: url("../images/icons/twitter.svg");
    }

    &--instagram {
      background-image: url("../images/icons/instagram.svg");
    }

    &--linkedin {
      background-image: url("../images/icons/linkedin.svg");
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($turquoise, 0.7);
      transform: scale(0.8);
    }

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
    }
  }

  &__img-box {
    position: relative;
    transform: scale(0.8);
    transition: transform 0.4s;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 94px;
      height: 48px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--decor {
      &::before {
        top: -11px;
        left: -6px;
        background-image: url("../images/decor/team-img-part2.png");
      }

      &::after {
        top: -9px;
        left: -4px;
        background-image: url("../images/decor/team-img-part.png");
      }
    }

    &--decor2 {

      &::before,
      &::after {
        width: 92px;
        height: 80px;
      }

      &::before {
        top: -10px;
        right: -5px;
        background-image: url("../images/decor/team-img-part4.png");
      }

      &::after {
        top: -7px;
        right: 0;
        background-image: url("../images/decor/team-img-part3.png");
      }
    }
  }
  
  &__decor-phone {
    position: absolute;
    display: none;
    z-index: -1;

    @include mq('min-desktop') {
      display: block;
      content: "";
      bottom: 0;
      right: -100px;
      width: 750px;
      height: 550px;
      opacity: 0.5;
      background: linear-gradient(90deg, #7476ed 46.15%);
      filter: blur(218px);
    }
  }
}

.questions {
  padding: 100px 0 140px;
  background-color: $bg;
  overflow: hidden;

  @include mq('phone') {
    padding: 30px 0 30px;
  }

  &__inner {
    padding-bottom: 80px;
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg,
          transparent 35px,
          rgba(156, 58, 255, 0.14) 0),
        rgba(58, 78, 255, 0) 0%;
      backdrop-filter: blur(15px);
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      top: 50px;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/decor/question-lines.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  &__decor {
    position: absolute;
    top: 0;
    left: -200px;
    width: 1080px;
    height: 840px;
    opacity: 0.5;
    border-radius: 1088px;
    background: linear-gradient(90deg,
        rgba(0, 219, 222, 0.3) 0%,
        rgba(252, 0, 255, 0.3) 100%);
    filter: blur(218px);
    transform: rotate(-35deg);
    z-index: -1;
  }

  &__title-box {
    padding: 140px 0 90px;
    text-align: center;

    @include mq('phone') {
      padding: 70px 0 20px;
    }
  }

  &__list {
    margin: 0 auto;
    max-width: 1180px;
  }

  &__item {
    max-width: 1180px;
    padding: 0 40px;
    width: 100%;
    @extend %kanit-700;
    font-size: 30px;
    line-height: 140%;

    &--active {
      .questions__answer {
        display: block;
        opacity: 0.7;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    border-bottom: 1px solid $grey;
    cursor: pointer;

    @include mq('phone') {
      padding: 20px 0;
    }
  }

  &__subtitle {
    margin-bottom: 15px;

    @include mq('phone') {
      font-size: 15px;
    }
  }

  &__question {
    display: block;
    margin-right: 20px;
    text-transform: uppercase;
    @include line-clamp(2);

    @include mq('phone') {
      font-size: 16px;
    }
  }

  &__plus {
    position: relative;
    display: block;
    min-width: 30px;
    height: 30px;

    @include mq('phone') {
      min-width: 20px;
      height: 20px;
    }

    &::after,
    &::before {
      position: absolute;
      content: "";
      border-radius: 5px;
      background-color: #fff;
    }

    &::after {
      top: 50%;
      left: 0;
      width: 30px;
      height: 4px;
      transform: translateY(-50%);

      @include mq('phone') {
        width: 20px;
      }
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 4px;
      height: 30px;
      transform: translateX(-50%);

      @include mq('phone') {
        height: 20px;
      }
    }
  }

  &__answer {
    display: none;
    padding: 20px 0;
    @extend %plus-400;
    font-size: 24px;
    line-height: 160%;
    opacity: 0;
    
    p {
      @include line-clamp(9);
    }

    @include mq('phone') {
      font-size: 16px;
    }
  }
}

.social {
  position: relative;
  background-color: $bg;
  padding: 100px 0;
  z-index: 1;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: calc(100% + 300px);
  //   background-image: url("../images/decor/social-bg.png");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   z-index: -2;
  // }

  &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: -100px;
      width: 100%;
      max-width: 850px;
      min-height: 700px;
      opacity: 0.3;
      border: 4px solid red;
      border-radius: 850px;
      opacity: 0.33000001311302185;
      background: linear-gradient(99deg, #00dbde 0%, #fc00ff 100%);
      filter: blur(278px);
      transform: rotate(-150deg);
      z-index: -1;

      @include mq('tablet') {
        max-width: 750px;
        min-height: 600px;
      }

      @include mq('min-tablet') {
        max-width: 650px;
        min-height: 500px;
      }

      @include mq('phone') {
        max-width: 550px;
        min-height: 400px;
      }
    }

  .container {
    @include mq('phone') {
      padding-right: 0;
    }
  }

  &__decor {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 100%;
    max-width: 600px;
    min-height: 650px;
    opacity: 0.3;
    border-radius: 625px;
    background: linear-gradient(99deg, #00dbde 0%, #fc00ff 100%);
    filter: blur(200px);
    transform: translate(-50%, -50%);
    z-index: -1;

    @include mq('tablet') {
      right: -20%;
      max-width: 450px;
      min-height: 650px;
    }
  }

  &__subtitle,
  &__title {
    text-align: center;
  }

  &__title {
    padding-bottom: 100px;

    @include mq('phone') {
      padding-bottom: 20px;
    }
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @include mq('phone') {
      justify-content: start;
      min-height: 225px;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    width: 100%;
    min-width: 110px;
    height: 340px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s;

    @include mq('tablet') {
      max-width: 190px;
      height: 250px;
    }

    @include mq('min-tablet') {
      max-width: 120px;
      height: 170px;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--twitter {
      background-image: url("../images/decor/twitter-frame.png");
      filter: drop-shadow(0px 0px 18.205547332763672px rgba(65, 198, 255, 0.329));

      .social__link {
        transition: transform 2s;
        transform: rotateY(22deg);
      }

      &:hover {
        transform: translate3d(8px, 8px, 22px);
      }
    }

    &--telegram {
      background-image: url("../images/decor/telegram-frame.png");
      filter: drop-shadow(0px 0px 17.542430877685547px rgba(255, 77, 227, 0.96));

      &:hover {
        transform: translate3d(4px, 8px, 22px);
      }
    }

    &--youtube {
      background-image: url("../images/decor/youtube-frame.png");
      filter: drop-shadow(0px 0px 18.205547332763672px rgba(86, 255, 235, 0.96));

      &:hover {
        transform: translate3d(-4px, 8px, 22px);
      }
    }

    &--discord {
      background-image: url("../images/decor/discord-frame.png");

      &:hover {
        transform: translate3d(-8px, 8px, 135px);
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;

    &--twitter {
      margin-right: 30px;

      @include mq('min-tablet') {
        margin-left: 15px;
      }
    }

    &--telegram {
      margin-right: 20px;

      @include mq('min-tablet') {
        margin-left: 10px;
      }
    }

    &--youtube {
      margin-left: 20px;

      @include mq('min-tablet') {
        margin-left: 10px;
      }
    }

    &--discord {
      margin-left: 30px;

      @include mq('min-tablet') {
        margin-left: 15px;
      }
    }
  }

  &__logo {
    display: block;
    max-width: 64px;
    width: 100%;
    height: 54px;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('min-tablet') {
      max-width: 50px;
      width: 100%;
      height: 40px;
    }

    &--twitter {
      background-image: url("../images/icons/twitter-icon.svg");
      transform: rotateY(20deg);
    }

    &--telegram {
      background-image: url("../images/icons/telegram-icon.svg");
      transform: rotateY(10deg);
    }

    &--youtube {
      background-image: url("../images/icons/yuotube-icon.svg");
      transform: rotateY(-10deg);
    }

    &--discord {
      background-image: url("../images/icons/discord-icon.svg");
      transform: rotateY(-20deg);
    }
  }

  &__name {
    display: block;
    @extend %plus-500;
    font-size: 16px;
    line-height: 140%;

    @include mq('min-tablet') {
      font-size: 14px;
    }

    &--twitter {
      transform: rotateY(-20deg);
    }

    &--telegram {
      transform: rotateY(-20deg);
    }

    &--youtube {
      transform: rotateY(10deg);
    }

    &--discord {
      transform: rotateY(20deg);
    }
  }
}

.footer {
  position: relative;
  display: flex;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  background-color: $bg;
  height: 300px;
  z-index: -1;
  overflow-x: hidden;

  &__corporation {
    padding: 80px 10px 60px 75px;
    max-width: 650px;
    width: 100%;
    @extend %plus-400;
    font-size: 18px;
    line-height: 140%;

    @include mq('phone') {
      padding: 80px 20px 60px 20px;
      font-size: 16px;
      max-width: 120px;
    }
  }

  &__logo {
    width: 58px;
    height: 58px;
    margin-bottom: 20px;
    background-image: url('../images/icons/global.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__name {
    max-width: 150px;
  }

  &__contact-box {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    width: 100%;

    @include mq('phone') {
      max-width: 330px;
    }
  }

  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    border: 1px solid $grey;
    text-transform: uppercase;

    @include mq('phone') {
      font-size: 16px;
    }
  }

  &__addr-link {
    padding: 10px;
    margin: auto 0;
    max-width: 40%;
    width: 100%;
    font-size: 165px;
    font-weight: 700;
    line-height: 130%;

    @include mq('phone') {
      max-width: 20%;
      transform: translateY(-80px) rotate(90deg);
      font-size: 16px;
    }
  }
}

@keyframes slideRight { 
  0% { 
    opacity: 0;
    transform: translateY(-1100px); 
  } 
  100% { 
    opacity:1; 
    transform: translateY(0); 
  } 
}

@keyframes slideLeft { 
  0% { 
    opacity: 0;
    transform: translateY(1100px); 
  } 
  100% { 
    opacity:1; 
    transform: translateY(0);
  } 
}

.active-animation {

  &:nth-child(odd) {
    animation: slideLeft 2s ease forwards;
  }
  &:nth-child(even) {
    animation: slideRight 2s ease forwards;
  }
}